{% extends "algorithmixblog/layout.html" %}
{% load static %}

{% block body %}
<img id="banner-img" src="{% static 'algorithmixblog/Algorithmix Logo V3 White.svg' %}" alt="Algorithmixblog logo">
<div id="banner">
    The best site to learn and write about technology and software development.
    <br><br>
    Create an account. Write posts, create and share algorithms, or refine other known ones.
    <br><br>
    Become a popular member of the Algorithmix.blog community by creating
    <br>
    popular posts and algorithms, to the benefit of yourself and others!
</div>

{% endblock %}
