{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Algorithmix.blog{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'algorithmixblog/monokai.css' %}">
        <link rel="stylesheet" href="{% static 'algorithmixblog/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet"> -->
    </head>
    <body>
        <div class="layout-container">
            <header class="main-header">
                <div class="header-clip">
                <div class="header-container">
                    <div class=header-icons>
                        <a class="logo-link" href="{% url 'index' %}">
                            <img class="logo-img" src="{% static 'algorithmixblog/Algorithmix Logo V3 Black.svg' %}" alt="Logo">
                        </a>
                        
                        <button class="header-drawer-btn" data-toggle="false">
                            <svg class="header-drawer" width="100%" height="100%" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                                <rect x="0" y="0" width="256" height="51"/>
                                <g transform="matrix(1,0,0,1,0,205)">
                                    <rect x="0" y="0" width="256" height="51"/>
                                </g>
                                <g transform="matrix(1,0,0,1,0,102.5)">
                                    <rect x="0" y="0" width="256" height="51"/>
                                </g>
                            </svg>                            
                        </button>
                    </div>
                    <ul class="header-links">
                        <hr>
                        <li><a href="{% url 'about' %}">WELCOME</a></li>
                        <li><a href="{% url 'search' %}">SEARCH</a></li>
                        <li><a href="{% url 'discover' %}">DISCOVER</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'create_blogpost' %}">CREATE POST</a></li>
                            <li><a href="{% url 'following_feed_blogposts' %}">FOLLOWING FEED</a></li>
                            <li><a href="{% url 'liked_blogposts' %}">LIKED POSTS</a></li>
                            <li><a href="{% url 'favorite_blogposts' %}">YOUR FAVORITES</a></li>
                            <li><a href="{% url 'user_profile' request.user.id %}">VIEW PROFILE</a></li>
                            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">LOGIN</a></li>
                            <li><a href="{% url 'register' %}">REGISTER</a></li>
                        {% endif %}
                    </ul>
                    
                </div>
                </div>
            </header>
            
            <div class="main-body">
                {% block body %}
                {% endblock %}
            </div>
            <footer id="main-footer">© 2021 Algorithmixblog</footer>
        </div>
        <template id="bp-prev-cell-template">
            <div class="bp-prev-cell">
                <a href="#">
                    <span class="title"></span>
                </a>
                <div class="likes-comments">
                    <span class="like-info">
                        <svg class="icon" width="100%" height="100%" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                            <path d="M288,96L288,64L320,64L320,32L352,32L352,0L448,0L448,32L480,32L480,64L512,64L512,256L480,256L480,320L448,320L448,352L416,352L416,384L384,384L384,416L352,416L352,448L320,448L320,479.933C320.052,479.953 320.053,479.976 320,480L320,479.933C318.994,479.538 298.758,479.943 288,480L288,512L224,512L224,480C213.242,479.943 193.006,479.538 192,479.933L192,480C191.947,479.976 191.948,479.953 192,479.933L192,448L160,448L160,416L128,416L128,384L96,384L96,352L64,352L64,319.959L32,320L32,256L0,256L0,65L32,64L32,32L64,32L64,0L160,0L160,32L192,32L192,64L224,64L224,96L288,96ZM64,128L96.187,128L96,96L128,96L128,160.002L96,160L96,224L64,224L64,128Z"/>
                        </svg>                        
                        <span class="count"></span>
                    </span>
                    <span class="comment-info">
                        <svg class="icon" width="100%" height="100%" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                            <path d="M288,480L288,512L352,512L352,480L384,480L384,448L416,448L416,416L448,416L448,352L512,352L512,64L448,64L448,0L64,0L64,64L0,64L0,352L64,352L64,416L320,416L320,480L288,480ZM96,320L416,320L416,288L96,288L96,320ZM96,224L416,224L416,192L96,192L96,224ZM416,96L96,96L96,128L416,128L416,96Z"/>
                        </svg>
                        <span class="count"></span>
                    </span>
                </div>
                <span class="post-info">
                    by <a href="#"><span class="username"></span></a>
                    <br>
                    <span class="date"></span>
                </span>
                <div class="cover-gradient"></div>
                <div class="cover"></div>
                <div class="preview-text"></div>
            </div>
        </template>
        <template id="user-info-cell-template">
            <div class="user-info-cell">
                <a class="link">
                    <div class="title"></div>
                </a>
                <div class="details">
                    <div class="info-small">Created on: <b><span class="created"></span></b></div>
                    <div class="info-small">#ID: <b><span class="id"></span></b></div>
                    <div class="follow-info">
                        <div class="followers"><div class="count"></div>Followers</div>
                        <div class="following"><div class="count"></div>Following</div>
                    </div>
                </div>
                <div class="bio"><i>Seems like this user would like to remain a mystery...</i></div>
            </div>
        </template>
    </body>
    {% block script %}
        <script src="{% static 'algorithmixblog/index.js' %}"></script>
    {% endblock %}
</html>

